<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true" failOnWarning="true">
    <testsuites>
        <testsuite name="PSEO regression">
            <file>StructuredDataTest.php</file>
            <file>PseoRegressionTest.php</file>
            <file>PseoNaturalLinksTest.php</file>
            <file>PseoPublicationPolicyTest.php</file>
            <file>PseoBulkPublishTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
